#message-pane {

    #messages-top-bar {
      height: 50px;
      position: absolute;
      top: 0px;
    }

    #messages {
      height: 80%;
      overflow-y: scroll;
      position: absolute;
      top: 50px;
      bottom: 55px;
      padding-bottom: 3px;
      width: 100%;
    }

    #create-message {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 45px;
    }
}