{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2>Password Reset</h2>
    </div>
  </div>
  {% include "error.html" %}
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <form method='POST'>
        <div class="form-group">
          <label for="email">Email address</label>
          <input name="email" type="email" class="form-control" aria-describedby="email-help" placeholder="john.doe@nyu.edu">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}